body {
    background-image: url("../src/images/download.jpg");
    background-repeat: repeat;
}
.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}







